body{
  background-color: #EEE8DA;
  width: 100%;
  margin: 0;
}

h1{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "Fredericka the Great", serif;
}

p,li{
  font-family: "Yaldevi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.3px;
}

a{
  font-family: "Yaldevi", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: -0.3px;
}
