body{
  background-color: #FFFFF0;
  width: 100%;
  margin: 0;
}

h1{
  font-family: 'Boldonse', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: 'Cormorant', serif;
}

p,li,label,span{
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.3px;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: -0.3px;
}
