.avis {
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 120px;
      height: 3px;
      background: #66705b;
      margin: 12px 0 0 auto;
    }
  }
}