.banner {
    .bannerImg{
        opacity: 0.5;
        img{
            height: 500px;
            width: 100%;
        }
    }
    .bannerContent {
        position: absolute;
        top: 200px;
        left: 40px;
        h3{
            font-size: 42px;
            margin-bottom: 16px;
        }
        p{
            font-size: 18px;
            margin-bottom: 24px;
        }
    }

}




