.faq {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    h2{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 40px;
        position: relative;
        display: inline-block;

        &::after {
        content: "";
        display: block;
        width: 50%;
        height: 3px;
        background: #66705b;
        margin-top: 0.5rem;
        border-radius: 2px;
        }
    }
}