.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  width: 100%;
  text-align: center;

  .titleHeader {
    color: black;
    margin: 15px 0 10px;
    letter-spacing: 0.20em;
  }

  .pHeader {
    color: black;
    margin: 0;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .header .titleHeader {
    font-size: 2.2rem;
    letter-spacing: 0.02em;
  }
}