.realisations {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 3px;
      background: #791C39;
      margin-top: 0.5rem;
      border-radius: 2px;
    }
  }
}